@font-face {
    font-family: "Abuket";
    src: url('../font/Abuket.woff2') format("woff2"),
        url('../font/Abuket.woff') format("woff");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #1C1C1E; 
    position: relative;    
    color: white;  
    font-family: 'Courier New', Courier, monospace;
}

.launcher{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.gameName{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
}

#gameTitle{
    font-family: "Abuket";
    text-transform: uppercase;
    font-size: 70px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 18%, rgba(250,255,24,1) 40%, rgba(255,0,0,1) 60%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;    
    padding: 20px; 
}

#gameBaseline{
    font-size: 14px;
    position: relative;
    bottom: 60px;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    width: 100%;
    text-align: center;
    padding: 2px;
}

.launcher-wrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.instructions{
    font-size: 14px;
    border: solid 2px white;
    padding: 20px 0;
    margin-right: 200px;
    
}

.brief{
    padding-left: 44px;
    padding-bottom: 90px;
}

.brief-rules{
    line-height: 30px;
}

.title{
    font-size: 20px;
    margin-bottom: 20px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 44px;
}

.controls-arrowKeys{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.keyboardKey{
    display: block;
    position: relative;
    background-color: black;
    border-radius: 15px;
    width: 40px;
    height: 40px;
    margin: 2px;

    &::after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
    }
}

.spacebarKey{
    width: 200px;

    &::after{
        content: 'spacebar';
        font-size: 12px;
        width: max-content;
        height: max-content;
    }    
}

.topKey{
    transform: translate(-88px, -44px);
    opacity: .4;

    &::after{
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid white;
    }
}

.leftKey::after{
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid white;
}

.rightKey::after{
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid white;

}

.bottomKey::after{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
}

.maps-thumbnails{
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    position: relative;

    >img{
        width: 180px;
        height: auto;
        margin-right: 40px;
        margin-bottom: 20px;
        border: solid 2px white;

        &:hover{
            cursor: pointer;
            transform: scale(1.2);
        }

        &.selected{
            border: solid 4px #39FF14;
        }
    }
}

.versus{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;

    img{
        
        width: 100px;
        height: auto;
    }

    .vs{
        font-family: "Abuket";
        font-size: 50px;
        color: white;
/*         background: linear-gradient(180deg, rgba(255,255,255,1) 18%, rgba(250,255,24,1) 40%, rgba(255,0,0,1) 60%);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent; */
        padding: 0 50px;
        margin: 45px 1px 20px 20px;
    }
}

#startGame{
    display: block;
    font-family: "Abuket";
    font-size: 70px;
    color: white;
    transform: rotate(-20deg);
    position: absolute;
    padding: 30px;
    bottom: -50%;
    right: -10%;
    user-select: none;

    &:hover{
        cursor: pointer;
        font-size: 80px;
        background: linear-gradient(180deg, rgba(255,255,255,1) 18%, rgba(250,255,24,1) 40%, rgba(255,0,0,1) 60%);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
    }
}

#signature{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
    font-size: 12px;

    span{
        font-size: 16px;
        margin-right: 10px;
    }
}